/* colori 
colore body: #f6f8f9
add task button: #47adf1
editorial: #45abea
q1 goals: #9c72e4
recruting: #64c0a9
mobile: #f29c2f
website: #d863a1
sales: #b0c926 
*/


/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f8f9 ;
}


/* CONTAINER/BOX */

.header-box {
   width: auto;
   height: 80px;
   background-color: white;
   
}
.nav-bar {
    width:1600px;
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.addtask-button {
    background-color: #47adf1;
    color: white;
    padding: 8px 8px;
    text-align: center;
    border-radius: 6PX;
    border-color: #47adf1 ;
    font-size: 13px;
    margin-left: 45px;
    
  }

 .addsect-button {
    background-color: #ffffff;
    color: rgba(158, 151, 151, 0.712);
    padding: 8px 11px;
    text-align: center;
    border-radius: 6PX;
    border-color: rgba(158, 151, 151, 0.712) ;
    font-size: 13px;
    
    
    
  }
.body-container {

    width:1600px;
    padding: 20px;
    background-color: white;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.checkmarky {
    width: 10px;
    height: 10px;
    border: 2px solid rgb(15, 201, 15);
    padding: 10px;
    border-radius: 50%;
    color: rgb(15, 201, 15);
    text-align: center;
    font-size: 15px;
    

}


/* IMMAGINI */

img {
    width: 60px;
    margin-left: 20px;
    vertical-align: bottom;

}




/* TESTI */


h1 {
    display: inline-block;
    font-size: 50px;
    padding-top: 10px;
    
}

ul {
    list-style: none;
    padding: 20px
}

li {
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
}

span {
    display: inline-block;
}
